.details-content {
    background-color: #f7f7f7;
    padding-top: 43px;
    padding-bottom: 50px;
    width: 100%;

    div {
        margin-top: 0;
    }

}

div {
    &:focus {
        outline: none;
    }
}

.pagination-item {
    width: 8px;
    height: 8px;
    opacity: 0.5;
    background-color: #c5c5c5;
    opacity: 0.5;
    border-radius: 4px;
    margin-left: 25px;
    transition: all ease-out .4s;
}

.pagination-item.active {
    width: 39px;
    background-color: #4a4a4a;
}


.card-title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.4px;
    color: #373737;
    margin-top: 20px;
    margin-bottom: 18px;
}

.card-carousel {
    padding: 0px;
    width: 270px;
    margin-left: 11px;
    margin-right: 11px;

}

.arrow-container {
    width: 45px;
    height: 146px;
    background-color: rgba(255, 255, 255, 0.56);
    display: flex;
    justify-content: center;
    cursor: pointer;

    .arrow-img {
        position: inline-block;
        margin-left: auto;
        width: 12px;
        height: 21px;
    }
}