@mixin filter-item {
    color: #373737;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
}



.desktop-filter {
    text-align: left;
    margin-right: auto;
    width: 100%;

    @media (max-width: 1000px) {
        display: none;
    }
}


.filter-nav {
    width: 100%;
    display: flex;
    height: 50px;
    padding-top: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 28px;
}

.Fill-1 {
    margin-left: 7px;
    object-fit: contain;
    transition: all ease-out .2s;
}

.Fill-1.active {
    transform: rotate(-180deg);
}


.filter-title {
    font-weight: 600;
    margin-right: 45px;
    @include filter-item;
}

.filter-title-left {
    &:hover {
        text-decoration: none;
        color: #373737;
    }

    display: none;

    @media (max-width: 1000px) {
        display: inline-block;
    }
}

.filter-title-right {
    margin-left: auto;
    margin-right: 0;

    &:hover {
        text-decoration: none;
        color: #373737;
    }
}

.filter-badge {
    @include filter-item;
    margin-right: 15px;
    font-weight: normal;
    letter-spacing: 0.08px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 18px;

    &:hover {
        color: #373737;
        text-decoration: none;
    }
}

.filter-badge.active {
    background-color: #f7f7f7;
}