.img-main {
    transform: scaleX(-1);
    filter: FlipH;
}

@mixin font-ego {
    font-stretch: normal;
    font-style: normal;
    color: #373737;
    font-family: 'Montserrat';
}

.model-title {
    font-size: 20px;
    font-weight: 600;
    @include font-ego;
    line-height: 1.35;
    letter-spacing: normal;
    margin-bottom: 8px;
}

.main-title {
    font-size: 50px;
    font-weight: 600;
    @include font-ego;
    line-height: 1.14;
    letter-spacing: -1px;
    margin-bottom: 37px;
}

.short-description {
    max-width: 385px;
    font-size: 16px;
    font-weight: normal;
    @include font-ego;
    line-height: 1.69;
    letter-spacing: -0.1px;
    margin-bottom: 87px;
}