@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$font-family-base: 'Montserrat';
@import "~bootstrap/scss/bootstrap";

.card-title.h5 {
    transition: all ease-in-out .2s;
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 600;
    width: 270px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: -0.65px;
    text-align: center;
    color: #000000;
    margin-bottom: 8px;

    @media (max-width:1000px) {
        width: 100%;
    }
}

.card-body {
    padding: 0px;

    span {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.28px;
        color: #191919;
    }

    &:hover {
        .card-title {
            color: #eb0a1e;
        }

        .btn-ego {
            opacity: 1;
        }
    }
}

.card {
    margin-top: 26px;
}

.btn-ego {
    font-family: 'Montserrat';
    background-color: #191919;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 600;
    width: 152px;
    height: 34px;
    opacity: 0;
    transition: all ease-in-out .3s;
    border: none;
}

@mixin dropdown-active {
    background-color: rgba(209, 214, 214, 0.2);
    color: #191919;
}

.dropdown-menu {
    border-radius: 0 0 10px 10px;
    border: none;
    box-shadow: 2px 8px 20px 0 rgba(0, 0, 0, 0.15);
    width: 170px;
    padding: 0px;
    margin-top: 12px;

    .dropdown-item {
        font-family: 'Montserrat';
        height: 37px;
        padding: 0 0 0 16px;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.5;
        letter-spacing: -0.1px;
        color: #191919;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        ;

        &:last-child {
            border: none;
            border-radius: 0 0 10px 10px;
        }

        &:active {
            @include dropdown-active;
        }
    }

    .dropdown-item.active {
        @include dropdown-active;
    }
}


footer {
    height: 50px;
    background-color: #000000;
    margin-top: 100px;
}