.container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

.details-container {
    max-width: 385px;
    margin: auto;
}

@mixin font-ego {
    font-family: 'Montserrat';
    font-stretch: normal;
    font-style: normal;
    color: #373737;
}

.title {
    @include font-ego;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: -0.4px;
    margin-bottom: 13px;
}

.description {
    @include font-ego;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: -0.1px;
    margin-bottom: 0;
}
.first {
    display: flex;
    align-items: center;
}

.second {
    display: flex;
    align-items: center;
    
}